@media screen and (max-width: 1023px) {

  /************************************* header */

  [aria-controls="menuDropdown"] {
    display: block;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
  }

  [aria-expanded="false"] ~ div.menu-items {
    display: none;
  }

  [aria-expanded="true"] ~ div.menu-items {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 100%;
    max-width: 375px;
  }

  [aria-expanded="true"] ~ div.menu-items > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    grid-column: 1 / 3;
  }
  
  [aria-expanded="true"] ~ div.menu-items > a {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  /************************************* .top */

  .top > .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    row-gap: 50px
  }

  .top > .grid-container .flex-container {
    text-align: center;
    align-items: center;
  }

  .logo-icons {
    width: 75%;
    height: 250px;
  }

  div.google-icon { left: 0; }

  /************************************* .key-benefits */

  .key-benefits .grid-container { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

  /************************************* .front-perspective */

  .front-perspective > .grid-container { grid-template-columns: 1fr; }

  .front-perspective .flex-container { padding: 0 30px; }

  .front-perspective .flex-container {
    text-align: center;
    align-items: center;
  }

  /************************************* .hubspot */

  .dots-effect { width: 65%; }

  .hubspot .grid-container .flex-container {
    text-align: center;
    align-items: center;
    width: 90%;
  }

  /************************************* .pricing */

  .pricing > .grid-container { grid-template-columns: 1fr; }

  .pricing .flex-container.card {
    text-align: center;
    align-items: center;
  }

  .features { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

  /************************************* .hire-us */

  .animation-container {
    row-gap: 0;
    column-gap: 75px;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
  }

  .hire-us-title { width: 100%; }

  .testimonial-container {
    order: 3;
    align-self: flex-start;
  }

  .testimonial p { padding-top: var(--30px); }

  .name-title { bottom: 25%; }

  .profiles {
    padding-bottom: var(--50px);
    padding-top: 0;
    order: 4;
  }
}

@media screen and (max-width: 767px) {

  /************************************* .why-front */

  .dot-container {
    flex-direction: column;
    padding: 0 30px 50px;
    height: 295px;
    justify-content: space-between;
  }

  .feedback {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
  
  .feedback:after { display: none; }

  .why-front span {
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    text-align: left;
  }

  .right-circle { margin-left: 0; }

  .play-icon { padding: 30px; }

  /************************************* .hubspot */

  .hubspot > .grid-container { grid-template-columns: 1fr; }

  .dots-effect { width: 100%; }

  .company-logos {
    flex-direction: column;
    height: 240px;
  }

  .company-logos div {
    width: 8.75rem;
    align-self: center;
  }

  /************************************* .hire-us */

  .hire-us .grid-container { grid-template-columns: 1fr; }

  .animation-container {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    row-gap: 30px;
  }

  .testimonial-container { order: 2; }

  .testimonial p { padding-top: 0; }

  .name-title-container { order: 3; }

  .name-title {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .profiles {
    height: var(--50px);
    padding-bottom: 0;
  }
}