/************************************* header */

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1024px;
  padding: var(--30px);
  row-gap: var(--50px);
  position: fixed;
  background: var(--white);
  z-index: 10;
  box-shadow: 0 0 var(--10px) rgba(0, 0, 0, 0.25);
}

header > div:first-child {
  width: 150px;
}

[aria-controls="menuDropdown"] {
  display: none;
}

button i {
  width: 30px;
  /* This makes it so you can click the button through the <i> element. */
  pointer-events: none;
  cursor: pointer;
  color: var(--font-base);
}

.menu-items {
  width: fit-content;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  margin: auto;
  justify-items: center;
  row-gap: var(--50px);
}

.menu-items div a {
  margin: 0 var(--10px)
}

.menu-items > a { margin-left: var(--20px); }

/************************************* .top */

.top { padding-top: 160px; }

.top h2 {
  font-size: 2.625rem;
  font-weight: 500;
}

.top p { margin-bottom: var(--40px); }

.top .flex-container div {
  display: flex;
  align-items: center;
}

.top .flex-container div a:last-child {
  margin-left: var(--20px);
}

.logo-icons {
  position: relative;
  width: 100%;
  height: 350px;
}

.icon {
  width: 75px;
  box-shadow: 0 0 var(--10px) rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: var(--15px);
  position: absolute;
}

div.google-icon {
  top: 4%;
  left: 4%;
  width: 60px;
  padding: var(--10px);
}
.paypal-icon { top: 52%; }
.atlassian-icon {
  top: 4%;
  left: 37%;
}
div.google-a-icon {
  top: 85%;
  left: 28%;
  width: 60px;
  padding: var(--10px);
}
.weave-icon {
  top: 52%;
  left: 55%;
}
.asana-icon {
  top: 4%;
  right: 0%;
}
.calendar-icon {
  top: 92%;
  right: 4%;
}

/************************************* .key-benefits */

.key-benefits { padding-top: 100px; }

.key-benefits .card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.key-benefits .card:hover { top: -10px; }

div.flex-container.card {
  box-shadow: 0 var(--5px) var(--15px) rgba(0, 0, 0, 0.2);
  padding: var(--20px);
}

.card > div {
  width: var(--50px);
  padding-bottom: var(--20px);
}

.card h5 {
  font-size: var(--16px);
}

.sketch {
  display: flex;
  align-items: center;
}

.sketch > div {
  width: fit-content;
  height: fit-content;
  padding: 0.125rem var(--10px);
  margin: 0 var(--10px);
  font-size: var(--12px);
  background-color: var(--font-light);
  color: var(--white);
  border-radius: var(--20px);
}

.card p {
  padding: var(--20px) 0;
  margin: 0;
}

/************************************* .front-perspective */

.front-perspective { padding-top: 100px; }

.front-perspective .grid-container {
  border-left: 30px solid var(--white);
  border-right: 30px solid var(--white);
  background-color: var(--bg-contrast);
  padding: 0;
  max-width: 1024px;
  column-gap: 0;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.front-perspective .flex-container { padding: 140px 30px 150px; }

.front-perspective h3 {
  font-size: 1.812rem;
  font-weight: 500;
  padding: var(--30px) 0;
}

.software-for-people-img {
  background-image: url(../Assets/banners/banner_one.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 0;
  width: 100%;
  padding-top: 70%;
  align-self: flex-end;
}

/************************************* .why-front */

.why-front {
  padding-top: 50px;
}

.dot-container {
  display: flex;
  width: 90%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px 150px;
  box-sizing: border-box;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #ECF2FE;
  border-radius: 50%;
  position: relative;
}

.inner-circle {
  background-color: var(--highlight-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: var(--5px);
  width: var(--5px);
  z-index: 1;
}

.feedback { 
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--5px);
  width: 100%;
  margin-left: var(--5px);
  position: relative;
}

.feedback:after {
  display: block;
  content: '';
  height: 1px;
  background-color: #ECF2FE;
}

.why-front span {
  position: absolute;
  top: 75px;
  left: 30px;
  transform: translate(-50%);
  text-align: center;
  width: 11.25rem;
  white-space: nowrap;
  font-size: var(--16px);
  color: var(--font-dark);
}

.right-circle {
  margin: 0 var(--5px);
  position: relative;
}

.why-front .grid-container { position: relative; }

.play-icon {
  top: 50%;
  left: 50%;
  text-align: right;
  font-size: var(--20px);
  padding: 3%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: var(--20px);
  height: var(--20px);
  box-sizing: unset;
  color: var(--font-dark);
}

/************************************* .hubspot */

.hubspot { padding-top: 100px; }

.hubspot .grid-container {
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: var(--100px);
}

.dots-effect {
  position: relative;
  width: 100%;
}

.dots-effect img:first-child {
  position: absolute;
  width: 87%;
  left: 13%;
}

.dots-effect img:last-child {
  width: 47%;
  padding-top: 24%;
}

.hubspot .grid-container .flex-container div:first-child {
  width: 100px;
  padding-bottom: var(--10px);
}

.hubspot p {
  font-size: 1.375rem;
  color: var(--font-dark);
  margin-bottom: var(--75px);
}

.hubspot h6 {
  font-size: var(--18px);
  font-weight: 900;
}

.hubspot > .flex-container { padding: 0 30px; }

.hubspot h4 {
  text-align: center;
  font-size: var(--20px);
  color: var(--font-base);
  padding: var(--75px) 0 var(--50px);
}

.company-logos {
  display: flex;
  justify-content: space-between;
}

.company-logos div {
  width: 16%;
  padding: 0 var(--20px);
}

/************************************* .pricing */

.pricing { padding-top: 50px; }

.pricing > .grid-container {
  grid-template-columns: 1fr 1.5fr;
}

.pricing .grid-container .card { padding: var(--40px); }

.pricing .card h4 {
  display: flex;
  align-items: flex-end;
  color: var(--font-base);
  font-size: var(--20px);
  font-weight: 400;
}

.pricing .card h4 span {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 0.8;
  color: var(--font-dark);
}

.card hr {
  margin-top: var(--30px);
  background-color: var(--font-base);
}

.pricing .card p {
  font-size: 1.063rem;
  font-weight: 400;
  text-align: left;
}

.pricing .card .btn { margin: var(--50px) 0 var(--10px); }

.pricing .card > span { font-weight: 400; }

.features {
  max-width: none;
  padding: var(--20px);
  gap: 30px;
  align-items: start;
}

.features .flex-container > div {
  width: var(--50px);
  padding-bottom: var(--20px);
}

.features h5 {
  font-size: var(--20px);
  font-weight: 900;
}

.features p {
  margin: 0;
  padding-top: var(--20px);
  font-size: var(--15px);
}

/************************************* .hire-us */

.hire-us {
  background-color: #20335B;
  padding: 30px 0;
  margin-top: 100px;
}

.hire-us > .grid-container {
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 50px;
}

.animation-container {
  width: 80%;
  justify-items: left;
  gap: 30px;
  grid-template-columns: 1fr;
  padding: 0;
}

.hire-us-title {
  width: 190px;
}

.hire-us-title h3 {
  color: var(--white);
  font-size: 1.75rem;
}

.hire-us-title p {
  font-size: 1.063rem;
  margin: 0;
  padding-bottom: var(--30px);
  padding-top: var(--10px);
}

.testimonial-container {
  height: 3.5rem;
  width: 100%;
  position: relative;
}

.testimonial {
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  width: fit-content;
  opacity: 0;
}

.name-title-container {
  position: relative;
  width: 100%;
  height: 5.875rem;
  white-space: nowrap;
}

.name-title {
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.name-title h6 {
  font-size: var(--18px);
  font-weight: 900;
  color: var(--white);
}

.testimonial p {
  color: var(--white);
  font-style: italic;
  font-size: 1.063rem;
  font-weight: 400;
  margin: 0;
}

.profiles {
  display: flex;
  width: 200px;
  height: 5.625rem;
  justify-content: space-between;
  padding-top: var(--50px);
  align-items: center;
}

.profile {
  width: 50px;
  text-align: center;
}
.profile img {
  width: 70%;
  border-radius: 50%;
}

/****************************** animations start */

/* Testimonial loop */

.christina {
  animation-name: christina-testimonial;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 0s;

}

.name-christina {
  animation-name: name-christina;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes christina-testimonial {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes name-christina {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.james {
  animation-name: james-testimonial;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}

.name-james {
  animation-name: name-james;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}

@keyframes james-testimonial {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes name-james {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.charlotte {
  animation-name: charlotte-testimonial;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 14s;
}

.name-charlotte {
  animation-name: name-charlotte;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 14s;
}

@keyframes charlotte-testimonial {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes name-charlotte {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

/* Picture loop */

.christina-pic img {
  animation-name: christina-pic;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes christina-pic {
  0% { width: 70%; }
  3% { width: 100%;}
  27% { width: 100%;}
  30% { width: 70%; }
  100% { width: 70%; }
}

.james-pic img {
  animation-name: james-pic;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}

@keyframes james-pic {
  0% { width: 70%; }
  3% { width: 100%;}
  27% { width: 100%;}
  30% { width: 70%; }
  100% { width: 70%; }
}

.charlotte-pic img {
  animation-name: christina-pic;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 14s;
}

@keyframes charlotte-pic {
  0% { width: 70%; }
  3% { width: 100%;}
  27% { width: 100%;}
  30% { width: 70%; }
  100% { width: 70%; }
}

/****************************** animations end */

form {
  background-color: var(--white);
  border-radius: var(--10px);
  padding: var(--30px);
  width: 100%;
  margin: 0;
}

form > span {
  font-size: var(--16px);
  color: var(--font-dark);
  font-weight: 600;
}

.form-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  gap: var(--20px);
  text-align: right;
  padding-top: var(--20px);
}

.form-container > input,
.form-container select,
.form-container textarea {
  padding: var(--12px) var(--10px);
  font-family: 'Roboto', 'Open Sans', sans-serif;
  border-radius: var(--5px);
  border: 1px solid var(--font-light);
  max-width: 100%;
  min-width: 100%;
}

textarea {
  grid-column: 1 / 3;
  min-height: var(--150px);
}

.subscribe {  
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--10px);
  align-items: start;
  text-align: left;
  font-weight: 400;
}

input[type="checkbox"] {
  height: var(--20px);
  width: var(--20px);
}

.subscribe label { font-size: 0.8125rem; }

.policies {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1 / 3;
}

::placeholder {
  color: var(--font-base);
  font-size: var(--14px);
}

.form-container select {
  color: var(--font-dark);
  font-weight: 600;
}

form .btn { margin: var(--40px) auto 0; }

/************************************* footer */

.footer-middle .title-container *,
footer * { font-size: var(--12px); }

.footer-top {
  display: grid;
  grid-template-columns: 1fr 3.3fr;
  row-gap: 30px;
  padding: 75px 30px 0;
}

.footer-top i { padding-right: var(--5px); }

.front {
  justify-content: flex-start;
  max-width: max-content;
}

.front > div:first-child {
  width: var(--100px);
  padding-bottom: var(--10px);
}

.front address { width: max-content; }

.front div span { color: var(--highlight-blue); }

.helpful-links {
  align-items: start;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  max-width: initial;
}

.helpful-links .flex-container {
  padding: 0 var(--15px);
  width: max-content;
}

.helpful-links .flex-container > *,
.front > * { margin-bottom: 0.438rem; }

.helpful-links h6 {
  font-size: var(--18px);
  font-weight: 900;
  padding-bottom: var(--10px);
}

.helpful-links a { color: var(--font-base); }

.hiring {
  display: flex;
  align-items: center;
}

.hiring div {
  margin-left: var(--5px);
  padding: 0.063rem 0.188rem;
  background-color: var(--highlight-blue);
  color: var(--white);
  font-size: var(--10px);
  border-radius: 0.188rem;
}

footer hr {
  height: 2px;
  background-color: var(--light-gray);
  margin: var(--30px) auto;
}

.footer-middle {
  flex-direction: row;
  padding: 0 30px;
}

.footer-middle > div:first-child {
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--5px);
}

.social-media-icons {
  display: flex;
  margin: 0 var(--10px);
}

.social-media-icons div {
  height: var(--12px);
  width: var(--12px);
  padding: 0.4375rem;
  border-radius: var(--5px);
  background-color: var(--light-gray);
  margin: 0 var(--10px);
  box-sizing: initial;
}

.social-media-icons div:nth-child(2) {
  color: var(--light-gray);
  background-color: var(--font-base);
}

.footer-middle select {
  border: none;
  background-color: var(--light-gray);
  text-align: center;
  padding: var(--5px) var(--10px);
  border-radius: var(--5px);
}

.footer-bottom.title-container { padding: 25px 30px; }

.footer-bottom p { font-size: var(--12px); }