/************************************* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1024px;
  padding: var(--15px);
}

header > div:first-child {
  width: 150px;
}

.menu-items div a {
  margin: 0 var(--10px)
}

.menu-items > a { margin: 0 var(--20px); }

header > div:last-child {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/************************************* .top */

.top { padding-top: 50px; }

.top h2 {
  font-size: 2.625rem;
  font-weight: 500;
}

.top .flex-container div {
  display: flex;
  align-items: center;
}

.top .flex-container div a:last-child {
  margin-left: var(--20px);
}

.logo-icons {
  position: relative;
  width: 100%;
  height: 350px;
}

.icon {
  width: 75px;
  box-shadow: 0 0 var(--10px) rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: var(--15px);
  position: absolute;
}

div.google-icon {
  top: 4%;
  left: 4%;
  width: 60px;
  padding: var(--10px);
}
.paypal-icon { top: 52%; }
.atlassian-icon {
  top: 4%;
  left: 30%;
}
div.google-a-icon {
  top: 85%;
  left: 25%;
  width: 60px;
  padding: var(--10px);
}
.weave-icon {
  top: 52%;
  left: 50%;
}
.asana-icon {
  top: 4%;
  left: 78%;
}
.calendar-icon {
  top: 92%;
  left: 76%;
}

/************************************* .key-benefits */

.key-benefits { padding-top: 100px; }

div.flex-container.card {
  box-shadow: 0 var(--5px) var(--15px) rgba(0, 0, 0, 0.2);
  padding: var(--20px);
}

.card > div {
  width: var(--50px);
  padding-bottom: var(--20px);
}

.card h5 {
  font-size: var(--16px);
}

.sketch {
  display: flex;
  align-items: center;
}

.sketch > div {
  width: fit-content;
  height: fit-content;
  padding: 0.125rem var(--10px);
  margin: 0 var(--10px);
  font-size: var(--12px);
  background-color: var(--font-light);
  color: var(--white);
  border-radius: var(--20px);
}

.card p {
  padding: var(--20px) 0;
  margin: 0;
}

/************************************* .front-perspective */

.front-perspective { padding-top: 100px; }

.front-perspective .grid-container {
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: var(--bg-contrast);
  padding: 75px 0 100px;
  max-width: 1024px;
  height: 25.938rem;
}

.front-perspective .flex-container { padding: 0 30px; }

.front-perspective h3 {
  font-size: 29px;
  font-weight: 500;
  padding: var(--30px) 0;
}

.software-for-people {
  

  background-image: url(../Assets/banners/banner_one.jpg);
  background-repeat: no-repeat;
  background-color: var(--white);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  margin-top: var(--75px);
  height: 22.813rem;
  width: 100%;
}

/************************************* .why-front */

.why-front {
  padding-top: 50px;
}

.dot-container {
  display: flex;
  width: 90%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px 150px;
  box-sizing: border-box;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #ECF2FE;
  border-radius: 50%;
  position: relative;
}

.right-circle {
  margin: 0 var(--5px);
  justify-content: center;
  position: relative;
}

.inner-circle {
  background-color: var(--highlight-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: var(--5px);
  width: var(--5px);
  z-index: 1;
}

.feedback { 
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--5px);
  width: 100%;
  margin-left: var(--5px);
  position: relative;
}

.feedback:after {
  display: block;
  content: '';
  height: 1px;
  background-color: #ECF2FE;
}

.why-front span {
  position: absolute;
  top: 75px;
  left: 30px;
  transform: translate(-50%);
  text-align: center;
  width: fit-content;
  white-space: nowrap;
  font-size: 16px;
  color: var(--font-dark);
}

.why-front .grid-container { position: relative; }

.play-icon {
  top: 50%;
  left: 50%;
  text-align: right;
  font-size: var(--20px);
  padding: var(--30px);
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: var(--20px);
  height: var(--20px);
  box-sizing: unset;
}

/************************************* .hubspot */

.hubspot { padding-top: 100px; }

.dots-effect { position: relative; }

.dots-effect img:first-child {
  position: absolute;
  width: 87%;
  left: 13%;
}

.dots-effect img:last-child {
  width: 47%;
  padding-top: 24%;
}

.hubspot .grid-container .flex-container div:first-child {
  width: 100px;
  padding-bottom: var(--10px);
}

.hubspot p {
  font-size: 1.375rem;
  color: var(--font-dark);
}

.name-position h6 {
  font-size: var(--18px);
  font-weight: 900;
  padding-top: var(--50px);
}

.hubspot h4 {
  text-align: center;
  font-size: var(--20px);
  color: var(--font-base);
  padding: var(--75px) 0 var(--50px);
}

.company-logos {
  display: flex;
  justify-content: space-between;
}

.company-logos div {
  width: 16%;
  padding: 0 var(--20px);
}

/************************************* .pricing */

.pricing { padding-top: 50px; }

.pricing > .grid-container {
  grid-template-columns: 1fr 1.5fr;
}

.pricing .grid-container .card { padding: var(--40px); }

.pricing .card h4 {
  display: flex;
  align-items: flex-end;
  color: var(--font-base);
  font-size: var(--20px);
  font-weight: 400;
}

.pricing .card h4 span {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 0.8;
  color: var(--font-dark);
}

.card hr {
  color: var(--font-base);
  width: 100%;
  margin-top: var(--30px);
}

.pricing .card p {
  font-size: 1.063rem;
  font-weight: 400;
}

.pricing .card .btn { margin: var(--50px) 0 var(--10px); }

.pricing .card > span { font-weight: 400; }

.features {
  max-width: none;
  padding: var(--20px);
  gap: 55px;
}

.features .flex-container { justify-content: flex-start; }

.features .flex-container > div {
  width: var(--50px);
  padding-bottom: var(--20px);
}

.features h5 {
  font-size: var(--20px);
  font-weight: 900;
}

.features p {
  margin: 0;
  padding-top: var(--20px);
  font-size: var(--15px);
}

/************************************* .hire-us */

.hire-us {
  background-color: #20335B;
  padding: 30px 0;
  margin-top: 100px;
}

.hire-us .flex-container { width: 80%; }

.hire-us-title {
  width: 190px;
}

.hire-us-title h3 {
  color: var(--white);
  font-size: 1.75rem;
}

.hire-us-title p {
  font-size: 1.063rem;
  margin: 0;
  padding-bottom: var(--30px);
  padding-top: var(--10px);
}

.testimonial-container {
  height: 11.25rem;
  width: 100%;
  position: relative;
}

.testimonial {
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  width: fit-content;
  opacity: 0;
}

/****************************** animations start */

.christina {
  animation-name: christina-testimonial;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes christina-testimonial {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.james {
  animation-name: james-testimonial;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}

@keyframes james-testimonial {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.charlotte {
  animation-name: charlotte-testimonial;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 14s;
}

@keyframes charlotte-testimonial {
  0% { opacity: 0; }
  3% { opacity: 1;}
  27% { opacity: 1;}
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.christina-pic img {
  animation-name: christina-pic;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes christina-pic {
  0% { width: 70%; }
  3% { width: 100%;}
  27% { width: 100%;}
  30% { width: 70%; }
  100% { width: 70%; }
}

.james-pic img {
  animation-name: james-pic;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}

@keyframes james-pic {
  0% { width: 70%; }
  3% { width: 100%;}
  27% { width: 100%;}
  30% { width: 70%; }
  100% { width: 70%; }
}

.charlotte-pic img {
  animation-name: christina-pic;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 14s;
}

@keyframes charlotte-pic {
  0% { width: 70%; }
  3% { width: 100%;}
  27% { width: 100%;}
  30% { width: 70%; }
  100% { width: 70%; }
}

/****************************** animations end */

.testimonial p {
  color: var(--white);
  font-style: italic;
  font-size: 1.063rem;
  font-weight: 400;
  margin: 0;
  padding-top: var(--30px);
}

.testimonial h6 { color: var(--white); }

.profiles {
  display: flex;
  width: 200px;
  height: 5.625rem;
  justify-content: space-between;
  padding-top: var(--50px);
  align-items: center;
}

.profile {
  width: 50px;
  text-align: center;
}
.profile img {
  width: 70%;
  border-radius: 50%;
}

form {
  background-color: var(--white);
  border-radius: var(--10px);
  padding: var(--30px);
  width: 92%;
  margin: 0;
}

form > span {
  font-size: var(--16px);
  color: var(--font-dark);
  font-weight: 600;
}

.form-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  gap: var(--20px);
  text-align: right;
  padding-top: var(--20px);
}

.form-container > input,
.form-container textarea {
  padding: var(--12px) var(--10px);
  font-family: 'Roboto', 'Open Sans', sans-serif;
  border-radius: var(--5px);
  border: 1px solid var(--font-light);
  max-width: 100%;
  min-width: 100%;
}

textarea {
  grid-column: 1 / 3;
  min-height: var(--150px);
}

.subscribe {  
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--10px);
  align-items: start;
  text-align: left;
  font-weight: 400;
}

input[type="checkbox"] {
  height: var(--20px);
  width: var(--20px);
}

form a:last-child { text-align: left; }

::placeholder {
  color: var(--font-base);
  font-size: var(--14px);
}

input[list="country"]::placeholder,
input[list="budget"]::placeholder {
  color: var(--font-dark);
  font-weight: 600;
}

form .btn { margin: var(--40px) auto 0; }

/************************************* footer */